# Build outputs
stm_idps/CM7/Debug/
stm_idps/CM4/Debug/

# CubeIDE workspace metadata
.metadata/
*.launch
.settings/

# Object/dependency files
*.o
*.d
*.su
*.cyclo

# Binaries
*.elf
*.bin
*.hex
*.map
*.list