# Build outputs
CM7/Debug/
CM7/Release/
CM4/Debug/
CM4/Release/

# CubeIDE workspace metadata
.metadata/
*.launch
.settings/

# Object/dependency files
*.o
*.d
*.su
*.cyclo

# Binaries
*.elf
*.bin
*.hex
*.map
*.list